/* Nav */
.nav {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $navBGcolor;
    align-items: center;
    height: 4rem;;


    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 2.5rem;
        height:4rem;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        background-color: $teal;

        span {
            display: block;
            border: 2px solid black;
            width: 100%;
            transition: 0.4s;

        }


        &:hover{
            cursor: pointer;
            
            span {
                border-color: $spanHover ;
            };
        }

        &:active{
            border-color: $white;
        }
    };

    .title-wrapper {
        margin: auto;
        justify-self: center;
        align-self: center;

        .title {
            color: white;
            font-size: 2rem;
            font-weight: bolder;
        }
    };

    .company-logo{
        width: 4rem;
        height: 4rem;

        img{
            color: black;
        }
    }
}
/* Aside enters upon hamburger click */


.aside-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 15vw;
    height: 90vh;
    align-items: center;
    left: -200%;
    transition: 0.5s;
    background-color: $white;
    z-index: 100;

    &.is-active{
        display:flex;
        position: static;
        left: 0;
    }

    .aside-links {
        margin-top: 2rem;;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        align-items: center;


        button {
            cursor: pointer;
            width:80%;
            border: none;
            min-height: 2rem;
            font-size: large;
            height: fit-content;
            border-radius: 3px;
            font-weight: bolder;
            transition: 0.2s;

            &:hover {
                background-color: $teal;
                color: $white;
            }

            &.add-project:before {
                font: var(--fa-font-solid);
                content: "\f0fe";
                margin-right: 1rem;
                };
            }

            hr {
                width: 80%;
                border: 1px solid black;
            }

            .projects-list {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 80%;
                align-items: center;
                gap: 1rem;
                

                .project {
                    display: flex;
                    cursor: pointer;
                    width:100%;
                    min-height: 2rem;
                    font-size: large;
                    height: fit-content;
                    border-radius: 3px;
                    font-weight: bolder;
                    transition: 0.2s;
                    background-color: $buttonGrey;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    
                    &:hover {
                        background-color: $teal;
                        color: $white;
                    }
                }
            }

        };


}

/* MQ 600PX */

@media only screen and (max-width: 600px) {
    .aside-left {
        width: 100vw;
        ;

        &.is-active {
            position: fixed
        }
    }
};