/* Imports */

@import "./abstractions/variables.scss";

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: $baseFont;
};

.app {
    position: relative;
}


/* Nav */
.nav {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $navBGcolor;
    align-items: center;


    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        background-color: $hamburgerBG;

        span {
            display: block;
            border: 2px solid black;
            width: 100%;

        }


        &:hover{
            cursor: pointer;
            
            span {
                border-color: $spanHover ;
            };
        }
    };

    .title-wrapper {
        margin-right:1rem;

        .title {
            color: white;
        }
    };

}
/* Aside enters upon hamburger click */
/* Add in media quiries */
.aside-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 15vw;
    height: 100vh;
    align-items: center;
    left: -100%;
    transition: 0.4s;

    &.is-active{
        display:flex;
        left: 0;
    }

    .nav-links {
        margin-top: 2rem;;
        //border: 2px solid black;;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        align-items: center;


        button {
            cursor: pointer;
            width:80%;
            border: none;
            height: 1.5rem;
            border-radius: 3px;
            font-weight: bolder;
        }

        hr {
            width: 80%;
            border: 1px solid black;
        }
      }
};
