/* Imports */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Lato:wght@300&display=swap");
#high {
  background-color: Red;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#medium {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#low {
  background-color: green;
  border-radius: 5px;
  font-weight: bold;
}

/* Nav */
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(160, 154, 154, 0.986);
  align-items: center;
  height: 4rem;
}
.nav .hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 2.5rem;
  height: 4rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: teal;
}
.nav .hamburger-menu span {
  display: block;
  border: 2px solid black;
  width: 100%;
  transition: 0.4s;
}
.nav .hamburger-menu:hover {
  cursor: pointer;
}
.nav .hamburger-menu:hover span {
  border-color: white;
}
.nav .hamburger-menu:active {
  border-color: white;
}
.nav .title-wrapper {
  margin: auto;
  justify-self: center;
  align-self: center;
}
.nav .title-wrapper .title {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}
.nav .company-logo {
  width: 4rem;
  height: 4rem;
}
.nav .company-logo img {
  color: black;
}

/* Aside enters upon hamburger click */
.aside-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  min-width: 15vw;
  width: 25vw;
  height: 90vh;
  align-items: center;
  left: -200%;
  transition: 0.5s;
  background-color: white;
  z-index: 100;
}
.aside-left.is-active {
  display: flex;
  position: static;
  left: 0;
}
.aside-left .aside-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.aside-left .aside-links button {
  cursor: pointer;
  width: 80%;
  border: none;
  min-height: 2rem;
  font-size: large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  font-weight: bolder;
  transition: 0.2s;
}
.aside-left .aside-links button:hover {
  background-color: teal;
  color: white;
}
.aside-left .aside-links button.add-project:before {
  font: var(--fa-font-solid);
  content: "\f0fe";
  margin-right: 1rem;
}
.aside-left .aside-links hr {
  width: 80%;
  border: 1px solid black;
}
.aside-left .aside-links .projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
}
.aside-left .aside-links .projects-list .project {
  display: flex;
  cursor: pointer;
  width: 100%;
  min-height: 2rem;
  font-size: large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  font-weight: bolder;
  transition: 0.2s;
  background-color: #E9E9ED;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.aside-left .aside-links .projects-list .project:hover {
  background-color: teal;
  color: white;
}

.project-modal-container {
  display: none;
  border-radius: 5px;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.project-modal-container.is-active {
  display: flex;
}
.project-modal-container .project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E9E9ED;
  width: 100%;
}
.project-modal-container .project-form label {
  display: flex;
  align-items: center;
  width: 100%;
}
.project-modal-container .project-form label input {
  width: 100%;
  height: 2rem;
}
.project-modal-container .project-form button {
  align-self: flex-end;
  height: 1.5rem;
  width: 100%;
}

/* MQ 600PX */
@media only screen and (max-width: 600px) {
  .aside-left {
    width: 100vw;
  }
  .aside-left.is-active {
    position: fixed;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
* .icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 200vh;
}

.app {
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

.cardcontainer {
  justify-self: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.cardcontainer .innerContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 80%;
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 1rem;
}
.cardcontainer .hero-card {
  border: 2px solid grey;
  border-radius: 5px;
  min-width: 70%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: 0.4s;
  z-index: 1;
}
.cardcontainer .hero-card:hover {
  box-shadow: 2px 4px grey;
  transform: scale(1.025);
}
.cardcontainer .hero-card .hero-check {
  height: 1.25rem;
  width: 1.25rem;
  accent-color: teal;
}
.cardcontainer .hero-card .hero-icon {
  font-size: 1.5rem;
  width: 1.5rem;
  flex-grow: 0;
}
.cardcontainer .hero-card .hero-title {
  max-width: 50%;
  flex-grow: 1;
  text-align: left;
}
.cardcontainer .hero-card .hero-edit {
  font-size: 1.25rem;
  transition: 0.4s;
}
.cardcontainer .hero-card .hero-edit:hover {
  color: teal;
  cursor: pointer;
  transform: rotate(180deg);
}
.cardcontainer .hero-card .hero-description {
  min-width: 60%;
  width: 80%;
  min-height: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cardcontainer .hero-card .hero-catagorey {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 10%;
  border: 2px solid black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  vertical-align: middle;
  padding: 0.25rem;
}

/*600px MQ */
@media only screen and (max-width: 600px) {
  .hero-card {
    flex-direction: column;
  }
  .modal-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .editor-modal {
    min-width: 80vw;
  }
}
/* Fixed Positioned Element */
.addTaskButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 5rem;
  margin-right: 5rem;
  background-color: teal;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  z-index: 1000;
}
.addTaskButton:hover {
  cursor: pointer;
  background-color: rgb(216, 147, 19);
}
.addTaskButton button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.4s;
}
.addTaskButton button:hover {
  color: white;
  transform: rotate(180deg);
}

/* Fixed position Modal  */
.modal-container {
  width: 60vw;
  min-height: 10rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: scale(0);
  margin-bottom: 8rem;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.4s;
  background-color: white;
  z-index: 1000;
  padding: 0.5em;
}
.modal-container.is-active {
  transform: scale(1);
}
.modal-container h3 {
  margin-left: 3rem;
  font-weight: 600;
}
.modal-container hr {
  width: 90%;
  margin: auto;
}
.modal-container .modal-form-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.modal-container .modal-form-container #task-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.modal-container .modal-form-container #task-form label {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal-container .modal-form-container #task-form #TDLabel {
  width: 80%;
}
.modal-container .modal-form-container #task-form #task-description {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  resize: none;
}
.modal-container .modal-form-container #task-form button {
  align-self: center;
  justify-content: center;
  padding: 0.15rem;
}

/* -------------- */
/* Editor Modal */
/* ------------ */
.editor-modal {
  width: 15vw;
  min-height: 10rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 5px;
  position: fixed;
  scale: 0;
  right: 0;
  transition: 0.4s;
  background-color: white;
  z-index: 1000;
  padding: 0.5em;
}
.editor-modal.is-active {
  scale: 1;
}
.editor-modal form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.editor-modal form label {
  display: flex;
  flex-direction: column;
}

/*OVERLAY */
.overlay {
  position: absolute;
  display: none;
}
.overlay.is-active {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 999;
}/*# sourceMappingURL=style.css.map */